@font-face {
  font-family: VarelarRound;
  src: url(../assets/font/VarelarRound-Regular.ttf);
}

@font-face {
  font-family: Prompt;
  src: url(../assets/font/Prompt/Prompt-Regular.ttf);
}

:root {
  --green-1: #aed71d;
  --green-2: #9ac319;
  --green-3: #89b116;
  --green-4: #5a8039;
  --green-5: #00705F;
  --bg: #FFF9F5;
}

* {
  font-family: "VarelarRound", "Prompt";
}

.gradient-box {
  height: 41px;
  background: rgb(174, 215, 29);
  background: linear-gradient(
    90deg,
    rgba(174, 215, 29, 1) 0%,
    rgba(154, 195, 25, 1) 50%,
    rgba(137, 177, 22, 1) 100%
  );
}

.header {
  width: 100%;
  height: 90px;
  padding: 21px 77px 21px 59px;
}

.header-menu li a {
  margin-left: 22px;
  color: var(--green-4);
  text-transform: uppercase;
}

.btn-navbar button img {
  width: 35%;
}

.body-section {
  background-color: var(--bg);
}

.first-section img {
  position: absolute;
  top: 20%;
  left: 0%;
  /* margin-top: 46px; */
}

.first-section p {
  margin: 236px 0px 0px 389px;
  font-size: 50px;
  color: var(--green-5);
}

.first-section p span {
  color: var(--green-2);
}

.first {}

.second p {
  font-size: 40px;
}

.categories-section {
  width: 1112px;
  margin-top: -33px;
  border-radius: 35px;
}

.categories-section p {
  color: #555;
}

