.wrapper {
  margin: 0 auto;
  margin-top: 18px;
  /* padding: 0px 100px; */
  overflow-x: hidden;
}

.my-slider {
  /* padding: 36px 8rem; */
  overflow: hidden;
}

.my-slider div img {
  width: 279px;
  height: 513px;
}

.slick-initialized .slick-slide {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots {
  display: flex;
  right: 0rem;
  bottom: -52px;
  justify-content: center;
  margin: 0;
  padding: 3rem 0;
  list-style-type: none;
}

.slick-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25rem;
}

.slick-dots li button {
  display: block;
  width: 6px;
  height: 6px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #ececec;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #ff739a;
}

.slick-next,
.slick-prev {
  z-index: 5;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
}

.slick-next:before,
.slick-prev:before {
  color: #aed71d;
  font-size: 26px;
}

@media (max-width: 391px) {
  .wrapper {
    /* margin: 0 auto; */
    margin-top: 3rem;
    padding: 0px 0px;
    overflow-x: hidden;
  }

  .my-slider {
    /* padding: 55px 3rem; */
    overflow: hidden;
  }

  .slick-dots {
    right: 0rem;
    justify-content: center;
  }
}
